@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Reset Password";
}

@if (string.IsNullOrEmpty(Model.Password))
{
    <form method="post">

        <div class="form-group col-sm-10">
            <label asp-for="Upn" class="form-label">Email</label>
            <input type="text" class="form-control" asp-for="Upn" value="liam@damienbodsharepoint.onmicrosoft.com" placeholder="mail@mail.ch">
            <span asp-validation-for="Upn" class="text-danger"></span>
        </div>

        <div style="padding: 10px">
        </div>

        <button type="submit" class="btn btn-primary col-sm-10">Reset Password</button>

    </form>
}
else
{
    <div class="card">
        <h5 class="card-header"></h5>
        <div class="card-body">
            <p class="card-text">User: <span>@Model.Upn</span></p>
            <p class="card-text">Password: <span>@Model.Password</span></p>
            <a href="https://aka.ms/mysecurityinfo" target="_blank">https://aka.ms/mysecurityinfo</a>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}