@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="card">
    <h5 class="card-header"></h5>
    <div class="card-body">

        <form method="post">
            <div class="form-group">
                <label asp-for="Upn" class="control-label"></label>
                <input asp-for="Upn" class="form-control" />
                <span asp-validation-for="Upn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn-secondary">Reset Password</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}