@page
@model IndexModel
@{
    ViewData["Title"] = "Reset Password";
}

<form method="post">
    <input type="text" id="userPrincipalName" name="userPrincipalName" />
    <div class="form-group">
        <button type="submit" class="btn-secondary">Reset Password</button>
    </div>
</form>