@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Reset Password";
}

<form method="post">

    <div class="form-group">
        <label asp-for="Upn">Email</label>
        <input type="text" class="form-control" asp-for="Upn" placeholder="mail@mail.ch">
        <span asp-validation-for="Upn" class="text-danger"></span>
    </div>

   
    <div class="form-group">    
            <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>

</form>
    


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}